<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken GAME</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>

  <div th:if="${loginUser}">
    Hi [[${loginUser}]]</div>

  <div th:if="${users1}">
    <h2>エントリー</h2>
    <ul>
      <li th:each="user : ${users1}"><a th:href="@{/match(id=${user.id})}"> [[${user.userName}]]</a></li>
    </ul>
  </div>
  <h3>試合結果</h3>
  <p th:if="${matches1}">
  <div th:each="matches,stat:${matches1}">
    <tr>
      <td>id:[[${matches.id}]]</td>
      <td>user1:[[${matches.user1}]]</td>
      <td>user2:[[${matches.user2}]]</td>
      <td>user1の手:[[${matches.user1Hand}]]</td>
      <td>user2の手:[[${matches.user2Hand}]]</td>
    </tr>
  </div>
  </p>
</body>

</html>
