<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken GAME</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>

  <div th:if="${loginUser}">
    Hi [[${loginUser}]]</div>

  <div th:if="${users1}">
    エントリー
    <ul>
      <li th:each="user, stat:${users1}">[[${user.userName}]]</li>
    </ul>
  </div>

  <p>
  <form action="/jankengame" method="post">
  </form>
  </p>
  <a href="/jankengame?hand=Gu">ぐー</a>
  <a href="/jankengame?hand=Tyoki">ちょき</a>
  <a href="/jankengame?hand=Pa">ぱー</a>
  <div th:if="${Result}">
    <p>あなたの手 [[${hand}]]</p>
    <p>相手の手 Gu</p>
    結果 [[${Result}]]
  </div>
</body>

</html>
