<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken GAME</title>
</head>

<body>
  <div>
    <a href="/logout">ログアウト</a>
  </div>
  <h1>Match</h1>
  <h2 th:if="${loginUserName}">
  [[${loginUserName}]] V.S. [[${enemy.userName}]]</h2>

  <a th:href="@{/fight(id=${enemy.id}, hand=Gu)}">ぐー</a>
  <a th:href="@{/fight(id=${enemy.id}, hand='Choki')}">ちょき</a>
  <a th:href="@{/fight(id=${enemy.id}, hand='Pa')}">ぱー</a>
  <div th:if="${Result}">
    <p>あなたの手 [[${hand}]]</p>
    <p>相手の手 Gu</p>
    結果 [[${Result}]]
  </div>
  <p>
  <a href="/janken">もどる</a>
  </p>
</body>

</html>
